@page "/register"
@using HousingWebApp.Models
@inject NavigationManager navigateTo

<h3>Register to Housing</h3>

<PageTitle>Register to Housing</PageTitle>
<EditForm Model="@model" OnValidSubmit="RegisterUser">
    <DataAnnotationsValidator/>
    <ValidationSummary/>

    <div class="form-group">
        <label for="firstName">First Name:</label>
        <InputText id="firstName" class="form-control" @bind-Value="model.FirstName" />
        <ValidationMessage For="@(()=> model.FirstName)"/>
    </div>

<div class="form-group">
    <label for="lastName">Last Name:</label>
    <InputText id="lastName" class="form-control" @bind-Value="model.LastName" />
    <ValidationMessage For="@(()=> model.LastName)" />
</div>

<div class="form-group">
    <label for="email">Email:</label>
    <InputText id="email" class="form-control" @bind-Value="model.Email" />
    <ValidationMessage For="@(()=> model.Email)" />
</div>

<div class="form-group">
    <label for="cemail">Confirm Email:</label>
    <InputText id="cemail" class="form-control" @bind-Value="model.ConfirmEmail" />
    <ValidationMessage For="@(()=> model.ConfirmEmail)" />
</div>

<div class="form-group">
    <label for="password">Password:</label>
    <InputText id="password" class="form-control" @bind-Value="model.Password" />
    <ValidationMessage For="@(()=> model.Password)" />
</div>

<div class="form-group">
    <label for="cpassword">Confirm Password:</label>
    <InputText id="cpassword" class="form-control" @bind-Value="model.ConfirmPassword" />
    <ValidationMessage For="@(()=> model.ConfirmPassword)" />
</div>

<div class="form-group">
    <label for="phone">Phone:</label>
    <InputText id="phone" class="form-control" @bind-Value="model.Phone" />
    <ValidationMessage For="@(()=> model.Phone)" />
</div>

<div class="form-group">
    <label for="address">Address:</label>
    <InputText id="address" class="form-control" @bind-Value="model.Address" />
    <ValidationMessage For="@(()=> model.Address)" />
</div>

<button type="submit" class="btn btn-primary">Register</button>


</EditForm>
@code {
    AppRegister model = new AppRegister();
    async Task RegisterUser()
    {
        //goto DB and try register...
        //goto home page
        navigateTo.NavigateTo("/");
    }
}
